**
!.gitignore
!.github
!cmd
!docs
!internal
!parse-xml
!pkg
!BUILD
!MODULE.bazel
!MODULE.bazel.lock
!*.go
!go.*
!.bazel_fix_commands.json
!renovate.json
!README.md
!parse-xml-cli.ts
!.adr-dir
!.bazelrc
!*.bzl
!dagger/
!dagger.json