**
!.gitignore
!.github
!cmd
!docs
!internal
!parse-xml
!pkg
!test
!BUILD
!BUILD.bazel
!MODULE.bazel
!MODULE.bazel.lock
!*.go
!go.*
!.bazel_fix_commands.json
!renovate.json
!README.md
!*.md
!parse-xml-cli.ts
!.adr-dir
!.bazelrc
!*.bzl
!*.bats
!*.sh